#contentPokemons{
    background-image: url("../Images/backgroundGrass.jpg");
    width: 800px;
    font-size: 25px;
    border-style: groove;
    border-color:#97e33e #339966 #99cc00;
    border-width: 20px;
    color: black;
    -webkit-text-stroke: 0.5px green;
    font-family: Impact;
}